In [1]:
import pandas as pd
df1 = pd.read_csv("D:/Postulacion-Telefonica/Data/yellowtot_1.csv")

In [2]:
df1.head()

,yellowtot_1.vendorid,yellowtot_1.tpep_pickup_datetime,yellowtot_1.tpep_dropoff_datetime,yellowtot_1.passenger_count,yellowtot_1.trip_distance,yellowtot_1.pickup_longitude,yellowtot_1.pickup_latitude,yellowtot_1.ratecodeid,yellowtot_1.store_and_fwd_flag,yellowtot_1.dropoff_longitude,yellowtot_1.dropoff_latitude,yellowtot_1.payment_type,yellowtot_1.fare_amount,yellowtot_1.extra,yellowtot_1.mta_tax,yellowtot_1.tip_amount,yellowtot_1.tolls_amount,yellowtot_1.improvement_surcharge,yellowtot_1.total_amount
0,2,2015-09-14 10:25:20,2015-09-14 10:29:52,2,0.67,-73.96322,40.762240,1,N,-73.970955,40.758186,1,5.0,0.0,0.5,1.16,0.0,0.3,6.96
1,2,2015-09-03 07:10:14,2015-09-03 07:21:52,1,0.83,-73.98021,40.763885,1,N,-73.971930,40.757280,2,8.5,1.0,0.5,0.00,0.0,0.3,10.30
2,2,2015-09-03 07:49:18,2015-09-03 08:08:52,1,4.62,-73.98390,40.749416,1,N,-74.014010,40.708020,2,17.5,0.0,0.5,0.00,0.0,0.3,18.30
3,2,2015-09-12 08:47:54,2015-09-12 08:53:46,5,1.00,-73.98894,40.691635,1,N,-73.989550,40.702393,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80
4,1,2015-09-10 07:20:41,2015-09-10 07:25:59,1,0.90,-73.99304,40.722736,1,N,-74.006950,40.727306,1,6.0,0.0,0.5,1.35,0.0,0.3,8.15